<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTags :: Free youtube keyword research tool</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tag-editor/1.0.20/jquery.tag-editor.min.css">
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <div class="headerBody">
        <div class="container headerContent">
            <span>YTags</span>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Conatact</a></li>
            </ul>
        </div>
    </div>