<%- include('./partials/header') %>

<div class="showcase ">
    <div class="center form">
        <form>
            <input type="text" name="tags" id="tags" placeholder="Enter your keyword or title">
            <input type="submit" value="Search" id="getData">
        </form>
    </div>

    <div class="center showData">
        <textarea id="dataBox" class="area">
           
        </textarea>
        <button id="copyBtn">Copy</button>
    </div>

</div>

<%- include('./partials/footer') %>